MAYA_QR_KEY=
PAYPAL_LINK=
KOFI_LINK=
ICON_PATH =
ABOUT_ICON_PATH =
DONATE_ICON_PATH =
HELP_ICON_PATH =
GITHUB_ID =
KOFI_ID =
PAYPAL_ID =
BTC_NAME =
ETH_NAME =
BTC_ID =
ETH_ID =
MAYA_QR_FILE =